body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

header {
    background: #333;
    color: #fff;
    padding: 1px;
    text-align: center;
}

header h1 {
    font-size: 24px; 
    margin: 8px 1px; 
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    font-size: 15px;
    display: inline;
    margin: 30px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 32px;
    margin-bottom: 50px; /* Add bottom margin to create space for the footer */
}

/* Updated styles for home-skills section */
#home-skills {
    display: flex;
    background-color: #f0f0f0; 
    padding: 50px;
    margin-bottom: 1rem;
    background-image: url('home_skills_background.jpg');
    background-size: cover;
    background-position: center;
    min-height: 400px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.text-content {
    width: 75%;
    padding-right: 30px;
    box-sizing: border-box;
}

.image-content {
    width: 25%;
    height: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-content img {
    width: 100%;
    height: auto;
}

/* Specific styles for 1fake_picture.jpg */
.image-content img[src="1fake_picture.jpg"] {
    width: 150px; /* Set a fixed width */
    height: 150px; /* Set a fixed height to make it a square */
    border-radius: 50%; /* Make the image a circle */
    object-fit: cover; /* Ensure the image covers the area without distortion */
}

section {
    margin-bottom: 1rem;
}

#contact {
    padding-bottom: 1px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 8px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Media query for mobile view */
@media (max-width: 768px) {
    #home-skills {
        flex-direction: row; /* Keep elements side by side */
        flex-wrap: wrap; /* Allow wrapping if needed */
        padding: 20px; /* Adjust padding for mobile view */
    }

    .image-content {
        width: 100%;
        padding-bottom: 20px; /* Add some space below the image */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text-content {
        width: 100%;
        padding-right: 0;
    }

    .image-content img {
        width: 150px; /* Set a fixed width */
        height: 150px; /* Set a fixed height to make it a square */
        object-fit: cover; /* Ensure the image covers the area without distortion */
        border-radius: 50%; /* Make the image a circle */
    }
}