body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: black;
    color: whitesmoke;
}

header {
    background: #333;
    color: #fff;
    padding: 1px;
    text-align: center;
    background-image: url('nav_banner_home.jpg'); 
    background-size: cover;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    flex-grow: 1;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li {
    font-size:25px;
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.4s ease; 
}

nav ul li a:hover {
    color: rgb(60, 156, 207); /* Change to the highlight color you prefer */
}

main {
    padding: 15px;
    margin-bottom: 50px;
}

#home-skills {
    display: flex;
    background-color: #f0f0f0;
    padding: 50px;
    border: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    border: 2px solid #ccc;
    border-radius: 35px;
    margin-bottom: 10px;
    background-image: url('home_skills_background1.jpg');
    background-size: cover;
    background-position: center;
    min-height: 200px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.text-content {
    width: 75%;
    padding-right: 30px;
    box-sizing: border-box;
    color: whitesmoke;
}

.image-content {
    width: 25%;
    height: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-content img {
    width: 100%;
    height: auto;
}

.image-content img[src="1fake_picture.jpg"] {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

section {
    margin-bottom: 1rem;
}

#projects {
    background-image: url('projects_background_home.jpg'); /* Replace with your background image URL */
    background-size: cover; /* Ensure the background image covers the entire area */
    background-position: center; /* Center the background image */
    padding: 20px; /* Add padding inside the box */
    border: 2px solid #ccc; /* Add a border around the box */
    border-radius: 35px; /* Optional: Add rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
    margin-bottom: 10px; /* Add some space below the section */
    color: whitesmoke;
}

.project1 {
    color: whitesmoke;
}

.project2 {
    color: whitesmoke;
}

.project3 {
    color: whitesmoke;
}

#contact {
    background-image:  url('home_skills_background.jpg'); /* Replace with your background image URL */
    background-size: cover; /* Ensure the background image covers the entire area */
    background-position: center; /* Center the background image */
    padding: 20px; /* Add padding inside the box */
    border: 2px solid #ccc; /* Add a border around the box */
    border-radius: 15px; /* Optional: Add rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
    margin-bottom: 1rem; /* Add some space below the section */
    padding-bottom: 1px;
    color: black;
}
.back_home {
    color: blue;
    text-align: center;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 8px;
    position: fixed;
    width: 100%;
    bottom: 0;
}


@media (max-width: 768px) {
    #home-skills {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 20px;
    }

    .image-content {
        width: 100%;
        padding-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text-content {
        width: 100%;
        padding-right: 0;
    }

    .image-content img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
    }
}