body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    color: #fff;
    padding: 1px;
    text-align: center;
}

header h1 {
    font-size: 24px; /* Smaller font size */
    margin: 8px 1px; /* Reduced margin */
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    font-size:15px;
    display: inline;
    margin: 30px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 32px;
    margin-bottom: 50px; /* Add bottom margin to create space for the footer */
}

/* Added new styles for home-skills section */
#home-skills {
    display: flex;
    background-color: #f0f0f0; /* Light grey background */
    padding: 50px;
    margin-bottom: 1rem;
    background-image: url('home_skills_background.jpg');
    background-size: cover;
    background-position: center;
    min-height: 400px;
    box-sizing: border-box;

/* Added new styles for text-content div */
.text-content {
    width: 60%;
    padding-right: 30px;
    box-sizing: border-box;

/* Added new styles for image-content div */
.image-content {
    width: 20%;
    height: auto;
    box-sizing: border-box;

section {
    margin-bottom: 1rem;
}
#contact {
    padding-bottom: 1px;
}
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 8px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Media query for mobile view */
@media (max-width: 768px) {
    #home-skills {
        flex-direction: column; /* Stack elements vertically */
        padding: 20px; /* Adjust padding for mobile view */
    }

    .image-content {
        width: 100%;
        padding-bottom: 20px; /* Add some space below the image */
    }

    .text-content {
        width: 100%;
        padding-right: 0;
    }

    .image-content img {
        width: 100%;
        height: auto;
        max-height: 300px;
        object-fit: cover;
    }
}